body {
  width: 100vh;
  height: 100vh;
  background-image: url(./public/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@font-face {
  font-family: Zelda;
  src: url(./src/assets/fonts/TheWildBreathOfZelda-15Lv.ttf);
}

@font-face {
  font-family: Vecna;
  src: url(./src/assets/fonts/Vecna-oppx.ttf);
}