* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(./background.jpg);
  background-color: rgb(173, 173, 173);
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode:multiply;
}

@font-face {
  font-family: Zelda;
  src: url(./src/assets/fonts/TheWildBreathOfZelda-15Lv.ttf);
}

@font-face {
  font-family: Vecna;
  src: url(./src/assets/fonts/Vecna-oppx.ttf);
}