.formContainer {
    width: 300px;
}

.formTitle {
    color: antiquewhite;
    font-family: Vecna;
    font-size: 50px;
}

.formLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.spanContent {
    font-family: Vecna;
    color: antiquewhite;
}

.linkContent {
    text-decoration: none;
    color: #FF9900;
    font-family: Vecna;
    font-weight: bold;
}

@keyframes loading {
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}

.loadingIcon {
    animation-name: loading;
    animation-duration: 3000ms;
}


