.butt{
    width: 80%;
    margin: 1.5rem;
    padding: 6px;
    background-color: antiquewhite;

    border: hidden;
    border-radius: 6px;

    font-size: 2rem;
    font-family: Vecna;
}
.butt2{
    width: 80%;
    margin: 1.5rem;
    padding: 6px;
    color: white;
    background-color: orange;

    border: hidden;
    border-radius: 6px;

    font-size: 2rem;
    font-family: Vecna;
}

.butt:hover{
    cursor: pointer;
    transition-duration: 175ms;
    background-color: orange;
    color: white;
}
.butt:focus{
    cursor: pointer;
    transition-duration: 175ms;
    background-color: orange;
    color: white;
}