.atributos {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2rem;
}

.dadosAlternativos {
    height: auto;
    width: auto;
    border: solid;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
