.background {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10000;
}

.container {
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 9.375rem;
    background-color:#fff;
    border-radius: 10px;
    color: black;
}