.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(217, 217, 217, 1);
  border-radius: .125rem;
  width: 80%;
  height: 2.25rem;

  padding: .0625rem .625rem .0625rem .625rem;
  font-size: 1.375rem;
  color: black;

  margin-bottom: 1.25rem;
}

.inputContainer input {
  background-color: rgba(166, 164, 164, 1);
  border: none;
  border-radius: 0 .5rem .5rem 0;
  height: 72%;
  padding: 0 .625rem 0 .25rem;
  font-size: 1.125rem;
  width: 98%;
}

.inputContainer svg {
  position: relative;
  background-color: rgba(166, 164, 164, 1);
  height: 72%;
  border-radius: .5rem 0 0 .5rem;
  padding-left: .375rem;
}

.input:focus {
  outline: none;
}