.formContainer {
    width: 300px;
}

.formTitle {
    color: antiquewhite;
    font-family: Vecna;
    font-size: 50px;
}

.formLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottomInputContent {
    padding-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: antiquewhite;
}

.checktext {
    margin-right: 38px;
    font-family: Vecna;
}

.passwordForgot {
    text-decoration: none;
    color: #FF9900;
    font-family: Vecna;
    font-weight: bold;
}

.spanContent {
    font-family: Vecna;
    color: antiquewhite;
}

.linkContent {
    text-decoration: none;
    color: #FF9900;
    font-family: Vecna;
    font-weight: bold;
}

@keyframes loading {
    0%{rotate: 0deg;}
    100%{rotate: 360deg;}
}

.loadingIcon {
    animation-name: loading;
    animation-duration: 3000ms;
}



